localhost:8080 {
    tls internal
    
    handle /ss* {
        reverse_proxy 127.0.0.1:10001
    }
    handle /vless* {
        reverse_proxy 127.0.0.1:10002
    }
    handle /vmess* {
        reverse_proxy 127.0.0.1:10003
    }
    handle /xhttp-vless* {
        reverse_proxy 127.0.0.1:10005
    }
    # gRPC 依然通过 h2c (明文 HTTP/2) 转发
    handle /grpc-vless* {
        reverse_proxy h2c://127.0.0.1:10006
    }
    # 瞎猜路径的一律返回普通文字
    handle {
        respond "Hello World" 200
    }
}
